<div class="cards-container">
    <div class="product-card">
        <img [src] ="product.image"
         alt= " {{ product.name }} " 
         />
        <div class="product-info">
            <div>
                <p>{{product.price}}</p>
                <p>{{ product.name }}</p>
            </div>
            <br>
            <figure class="Add-to-Carito">
                <img src="./../../../assets/icons/icons/bt_add_to_cart.svg" alt="Add to Cart" 
                (click)="addToCartHandler()"
                />
            
               <!--  <img src="./../../../assets/icons/icons/bt_added_to_cart.svg" alt="Added to Cart" /> -->
                <!-- <img src="./../../../assets/icons/icons/email.svg" alt="Email" /> -->
               <!--  <img src="./../../../assets/icons/icons/flechita.svg" alt="Flechita" /> -->
               <!--  <img src="./../../../assets/icons/icons/icon_close.png" alt="Close" /> -->
               <!--  <img src="./../../../assets/icons/icons/icon_menu.svg" alt="Menu" />
                <img src="./../../../assets/icons/icons/icon_shopping_cart.svg" alt="Shopping Cart" /> --><!-- 
                 --><!-- <img src="./../../../assets/icons/icons/icon_shopping_cart_notification.svg" alt="Shopping Cart Notification" /> -->
            </figure>
        </div>
        <div class="product-counter">
            <button (click)="addProduct()">+</button>
            <p>{{ cantidad }}</p>
            <button (click)="removeProduct()">-</button>
        </div>
        <div *ngIf="soldOut" class="product-soldOut">
            <b>Producto Agotado</b>
    </div>
</div>
